body {
  background: red;
}

button {
  padding: 0.2em 0.5em;
}

textarea {
  width: 500px;
  height: 200px;
  resize: none;
}

.message-display {
  width: 500px;
  height: 200px;
  background-color: aliceblue;
  overflow: scroll;
}

.message {
  border-radius: 100vh;
  padding: 1em 2em;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
}

.correction-text {
  background-color: rgb(190, 190, 64);
  width: 500px;
  height: 200px;
}

.input-section {
  background-color: brown;
  width: 500px;
  height: 60px;
  display: flex;
}

.input {
  height: 100%;
  width: 100%;
}

.textarea {
  height: 100%;
}
